body {
  background-color: #111;
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  display: grid;
  margin: 2rem auto;
  width: 650px;
  place-items: center;
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(6,5rem);
  grid-template-columns: repeat(5,5rem);
  margin: 2rem 0;
  place-items: center;
}

.tile {
  box-shadow:inset 0px 0px 0px 4px #444;
  display: inline-block;
  font-size: 2rem;
  line-height: 4.6rem;
  text-transform: capitalize;
  justify-content: center;
  height: 4.6rem;
  text-align: center;
  vertical-align: middle;
  width: 4.6rem;
}

.green {
  background-color:rgb(21, 181, 39);
  box-shadow:none;
}

.yellow {
  background-color: rgb(188, 170, 8);
  box-shadow:none;
}

.incorrect {
  background-color: #444;
  box-shadow: none;
}

.end-game-modal {
  background-color: #111;
  border: #fff solid 1px;
  color: #fff;
  height: 50vh;
  outline: none;
  text-align: center;
  width: 50vw;
}